<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>FIREBASE_API_KEY_PLACEHOLDER</string>
	<key>BUNDLE_ID</key>
	<string>com.upwardsnorthwards.blueplaqueslondon</string>
	<key>GCM_SENDER_ID</key>
	<string>429995373085</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:429995373085:ios:01f71e5da6c363ce3b0cf4</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>blue-plaques-london-20220</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-plaques-london-20220.firebasestorage.app</string>
</dict>
</plist>
